:root {
    --bg: white; /* background color */
    --conc: rgb(239, 237, 227); /* contrast color */
    --gh: rgb(77, 77, 77); /* github icon color */
    --ghh: rgb(56, 56, 56); /* github icon hover color */
    --gha: rgb(70, 70, 70); /* github icon active color */
    --ab: rgb(239, 237, 227); /* about button color */
    --abh: rgb(228, 226, 218); /* about button hover color */
    --aba: rgb(221, 219, 211); /* about button active color */
    --abc: rgba(234, 232, 223, 0.7); /* about content box color */
    --sh: rgb(186, 186, 186); /* dropdown box shadows */
    --bxb: rgb(157, 157, 157); /* border between boxes */
    --bxs: grey; /* display box shadow */
    --db: #dadada; /* display border */
    --opb: rgb(239, 237, 227); /* output box background */
    --oph: rgb(228, 226, 218); /* output box hover color */
    --opf: black; /* output box font color */
    --op: black;
    --opd: rgb(255, 255, 240); /* output box display color */
    --bt: rgb(67, 67, 67); /* button color */
    --ips: rgb(56, 56, 56); /* input speech button color */
    --ish: rgb(0, 0, 0); /* input speech button hover color */
    --bth: black; /* button + github hover color */
    --bta: rgb(56, 56, 56); /* button active color */ 
    --cm: rgb(224, 221, 202); /* copy message background */ 
}

:root.dark-theme {
    --bg: rgb(40,40,40);
    --conc: rgb(247, 216, 155);
    --gh: white;
    --ghh: rgb(247, 216, 155);
    --gha: rgb(247, 216, 155);
    --ab: rgb(247, 216, 155);
    --abh: rgb(248, 198, 99);
    --aba: rgb(247, 216, 155);
    --abc: rgba(253, 225, 169, 0.8);
    --sh: rgb(118, 118, 118);
    --bxb: rgb(90, 90, 90);
    --bxs: rgb(54, 54, 54);
    --db: rgb(70, 70, 70);
    --opf: rgb(0, 0, 0);
    --op: white;
    --opb: rgb(57, 57, 57);
    --oph: rgb(82, 82, 82);
    --opd: rgb(247, 216, 155);
    --bt: rgb(230, 230, 230);
    --ips: rgb(82, 82, 82); /* input speech button color */
    --ish: rgb(248, 198, 99); /* input speech button hover color */
    --bth: rgb(247, 216, 155);
    --bta: rgb(248, 198, 99);
    --cm: rgb(74, 73, 73);
}

body {
    background-color: var(--bg);
    color: var(--bt);
    min-height: 100vh;
}

.theme {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 2.5%;
    margin-bottom: 20px
}

#theme-select, #lang-select { /* theme and language dropdown */
    border: black;
    color: var(--opf);
    display: block;
    width: 100%;
    border-radius: 3px;
    font-size: clamp(11px, calc(0.8vw + 0.8h), 16px);
    padding: 5px;
    background-color: var(--conc);
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px var(--sh)
}

#theme-select:focus, #lang-select:focus {
    outline: none;
    box-shadow: 1px 1px 3px var(--sh);
    background-color: var(--abh);
}

#theme-select:hover, #lang-select:hover, #theme-select:active, #lang-select:active {
    transition-duration: 0.3s;
    background-color: var(--abh);
    box-shadow: 1px 1px 3px var(--sh);
}

#navopen {
    float: left;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    font-size: clamp(16px, calc(1vw + 1vh), 22px);
    margin-left: 2.5%;
    margin-top: 20px;
    cursor: pointer;
}

#sidenav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--opb);
    padding-top: 60px;
    box-shadow: 2px 0 5px var(--sh);
    overflow-x: hidden;
    transition: 0.5s;   
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
}

#sidenav a {
    display: block;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    font-size: clamp(14px, calc(1vw + 1vh), 20px);
    color: var(--bt);
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

#sidenav a:hover {
    color: var(--bth);
    transition-duration: 0.3s;
}

#newaboutmessage {
    display: none;
    font-family: Arial;
    font-size: clamp(12px, calc(1vw + 1vh), 20px);
    padding: 0px 20px;
    color: var(--bt);
    padding-bottom: 10px;
}

.titlehead {
    display: flex;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: none;
    border: 1px solid var(--db);
    height: 50px;
    width: 95%;
}

.tlinks {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 20px;
}

#githublink {
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    margin-left: auto;
    font-size: 26px;
    color:var(--gh);
    background: none;
}

#githublink:focus {
    outline: none;
}

#githublink:hover {
    transition-duration: 0.3s;
    color: var(--ghh);
}

#githublink:active {
    color: var(--ghh);
    transition-duration: 0.1s;
}

.display { /* total display box including translate button*/
    box-shadow: 3px 3px 5px var(--bxs);
    background-color: var(--opb);
    border: 1px solid var(--opb);
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 30px;
}

.textboxes {  /* surrounds both boxes */
    display: flex;
    justify-content: center;
}

#input, #output { /* individual boxes */
    width: 50%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 13px;
}

#output {
    background: none;
}

::placeholder, #textoutput{ /* placeholder text and output text */
    font-weight: bold;
}

#userinput, #textoutput { /* text areas */
    align-items: center;
    outline: none;
    font-family: Arial;
    text-align: left;
    font-size: clamp(16px, calc(2vh + 2vw), 4vh);
    margin: auto;
    padding: 10px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
    resize: none;
    border: none;
    background: none;
}

#textoutput {
    cursor: default;
    color: var(--op);
}

#dropdowns { /* container for dropdown menus */
    display: flex;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    padding-bottom: 0;
    margin: auto;
}

.ipdown, .opdown { /* dropdown containers */
    display: flex;
    width: 50%;
}

.ipdown {
    border-top-left-radius: 5px;
    padding-left: 5px;
}

.opdown {
    border-top-right-radius: 5px;
    padding-right: 5px;
}

#ip, #op { /* both dropdown menus */
    position: relative;
    font-family: Arial;
    border: none;
    border-radius: 30px;
    font-size: clamp(12px, calc(1.25vw + 1.25vh), 2.5vh);
    color: var(--opf);
    cursor: pointer;
    padding-left: 10px;
    margin: 5px;
    box-shadow: 1px 1px 3px var(--sh);
}

#ip { /* input dropdown */
    background-color: white;
    width: 100%;
}

#op { /* output dropdown */
    background: var(--opd);
    width: 100%;
}

select option {
    background-color: var(--bg);
}

#ip:focus, #op:focus {
    box-shadow: 2px 2px 5px var(--sh);
    outline: none;
}

#ip:hover, #ip:active {
    background-color: var(--abh);
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px var(--sh);
}

#op:hover, #op:active {
    background-color: var(--abh);
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px var(--sh);
}

#swap {
    position: relative;
    background: none;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    font-family: Arial;
    font-size: clamp(12px, calc(1.25vw + 1.25vh), 2.5vh);
    color: var(--bt);
    cursor: pointer;
}

#swap:hover {
    color: var(--bth);
    transition-duration: 0.3s;
}

#swap:focus {
    outline: none;
}

#swap:active {
    color: var(--ghh);
    rotate: 180deg;
}

select option {
    background-color: var(--opd);
} 

select option:hover {
    background-color: var(--opd);
}

select option:focus {
    background-color: var(--opd);
}

select:active {
    background-color: var(--opd);
}

#opcopy {
    float: right;
}

#ipspeech, #opspeech, #opcopy { 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--bt);
    font-size: clamp(12px, calc(1.5vw + 1.5vh), 3vh);
    margin-top: 5px;
}

#ipspeech {
    color: var(--ips);
    padding-left: 10px;
}

#ipspeech:focus, #opspeech:focus, #opcopy:focus {
    outline: none;
    color: var(--bth);
}

#ipspeech:hover, #opspeech:hover, #opcopy:hover {
    color: var(--bth);
    transition-duration: 0.1s;
}

#ipspeech:hover {
    color: var(--ish);
}

#ipspeech:active, #opspeech:active, #opcopy:active {
    transform: scale(0.99);
    color: var(--bta);
    transition-duration: 0.1s;
}

.copyset {
    position: relative;
}

#copy-message {
    display: none;
    position: absolute;
    font-size: clamp(12px, calc(1.5vw + 1.5vh), 16px);
    font-family: arial;
    top: -25px;
    right: 0;
    background: var(--cm);
    color: var(--obf);
    padding: 5px 10px;
    border-radius: 5px;
}