:root {
    --bg: white; /* background color */
    --gh: rgb(77, 77, 77); /* github icon color */
    --sh: rgb(186, 186, 186); /* dropdown box shadows */
    --bxs: grey; /* display box shadow */
    --db: #dadada; /* display border */
    --opb: rgba(245, 245, 245, 0.297); /* output box background */
    --ipb: rgb(255, 255, 255); /* input box background */
    --opf: black; /* output box font color */
    --op: black;
    --bt: rgb(67, 67, 67); /* button color */
    --ips: rgb(56, 56, 56); /* input speech button color */
    --tc: black; /* text color */
    --dpb: rgb(255, 255, 255); /* dropdown background */
    --navbg: rgb(239, 239, 239); /* sidenav background */
    --clearhist: rgb(253, 78, 78);
    --blue: rgb(119, 212, 249); /* blue color for testing */
    --bluecontr: rgb(119, 212, 249, 0.7); /* blue color with transparency for testing */
    --green: rgb(68, 250, 126, 0.7); /* green color for testing */
    --greencontr: rgba(68, 250, 126, 0.557); /* green color with transparency for testing */
    --red: rgb(239, 120, 120); /* red color for testing */
    --redcontr: rgb(239, 120, 120, 0.7); /* red color with transparency for testing */
}

:root.dark-theme {
    --bg: rgb(40,40,40);
    --gh: white;
    --sh: rgb(118, 118, 118);
    --bxs: rgb(91, 91, 91);
    --db: rgb(70, 70, 70);
    --opb: rgb(57, 57, 57);
    --ipb: rgb(255, 255, 255); /* input box background */
    --opf: rgb(0, 0, 0);
    --op: white;
    --bt: rgb(230, 230, 230);
    --ips: rgb(56, 56, 56);
    --tc: rgb(230, 230, 230);
    --dpb: rgb(80, 80, 80); /* dropdown background */
    --navbg: rgb(57, 57, 57); /* sidenav background */
    --clearhist: rgb(253, 78, 78);
    --blue: rgb(89, 204, 249); /* blue color for testing */
    --bluecontr: rgb(119, 212, 249); /* blue color with transparency for testing */
    --green: rgb(48, 250, 112); /* green color for testing */
    --greencontr: rgb(83, 251, 136); /* green color with transparency for testing */
    --red: rgb(242, 89, 89); /* red color for testing */
    --redcontr: rgb(239, 120, 120); /* red color with transparency for testing */
}


body {
    background-color: var(--bg);
    color: var(--tc);
    min-width: 700px;
}


.toppart {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


.theme {
    align-items: center;
    gap: 10px;
    display: flex;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 3%;
    margin-bottom: 20px
}
.coltoggle {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    margin-right: 10px;
}
.coltoggle:hover {
    box-shadow: 1px 1px 3px var(--sh)
}
#colch {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: 0;
    z-index: 2;
    cursor: pointer;
}
#slider {
    position: absolute;
    inset: 0;
    width: 50px;
    height: 25px;
    background-color: var(--gh);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
    pointer-events: none;
}
#slider:before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 2px;
    top: 2px;
    background-color: var(--bg);
    border-radius: 50%;
    transition: 0.4s
}
 #colch:checked + #slider:before {
    transform: translateX(25px);
}


#navopen {
    float: left;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2.5%;
    margin-top: 20px;
    padding-left: 10px;
    cursor: pointer;
    color: var(--bt);
}
#navopen:hover  {
    color: var(--red);
    transition-duration: 0.3s;
}
#sidenav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    max-width: 400px;
    height: 100%;
    background-color: var(--navbg);
    padding-top: 60px;
    box-shadow: 2px 0 5px var(--sh);
    overflow-x: hidden;
    transition: 0.5s;   
}
#closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    color: var(--bt);
}
#sidenav a, #history {
    display: block;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    font-size: 14px;
    color: var(--tc);
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}
#newabout{
    color: var(--bt);
    cursor: pointer;
}
#newabout:hover, #closebtn:hover {
    color: var(--blue);
    transition-duration: 0.3s;
}
#about-icon {
    font-size: 14px;
}
#newaboutmessage {
    display: none;
    font-family: Arial;
    font-size: 12px;
    margin: 0px 20px;
    color: var(--tc);
    padding-bottom: 10px;
    padding: 10px;
}


#historylist {
    color: black;
    font-size: 12px;
    font-family: arial;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 20px;
}
#historylist::-webkit-scrollbar { /* for unsupported browsers */
    width: 5px;
    height: 5px;
}
#historylist::-webkit-scrollbar-track {
    background: transparent;
}
#historylist::-webkit-scrollbar-thumb {
    background-color: var(--sh);
    border-radius: 10px;
    cursor: pointer;
}
li {
    margin-bottom: 5px;
    background-color: var(--green);
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
}
ul {
    padding-left: 0px; /* remove dafault padding on ul items*/
}
#clearhistory {
    background: none;
    border-radius: 30px;
    border: 1px solid var(--bt);
    color: var(--tc);
    font-size: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 32px;
}
#clearhistory:hover {
    color: var(--clearhist);
    border: 1px solid var(--clearhist);
    transition-duration: 0.3s;
}


.titlehead {
    display: flex;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: none;
    border: 1px solid var(--db);
    height: 50px;
    width: 95%;
}
#title {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 20px;
}
.github {
    display: flex;
    margin-left: auto;
}
#githublink {
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    margin-left: auto;
    font-size: 26px;
    color:var(--gh);
    background: none;
}
#githublink:focus {
    outline: none;
}
#githublink:hover {
    transition-duration: 0.3s;
    color: var(--red);
}
#githublink:active {
    color: var(--redcontr);
    transition-duration: 0.1s;
}


#mainpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}


.display { /* total display box including translate button*/
    box-shadow: 3px 3px 5px var(--bxs);
    background-color: var(--opb);
    border: 1px solid var(--opb);
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 30px;
    width: 90%;
    min-width: 600px;
    max-width: 1000px;
}


#displayfacts {
    box-sizing: border-box;
    width: 90%;
    min-width: 600px;
    max-width: 1000px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
}


.textboxes {  /* surrounds both boxes */
    display: flex;
    justify-content: center;
}
#input, #output { /* individual boxes */
    width: 50%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    margin: 15px 20px;
    background-color: white;
    border-radius: 30px;
}
#output {
    background: none;
}
::placeholder, #textoutput{ /* placeholder text and output text */
    font-weight: bold;
}
#userinput, #textoutput { /* text areas */
    align-items: center;
    outline: none;
    font-family: Arial;
    text-align: left;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    height: 38vh;
    width: 100%;
    resize: none;
    border: none;
    background: none;
    max-height: 300px;
    min-height: 200px;
}
#textoutput {
    cursor: default;
    color: var(--op);
}
#input {
    box-shadow: 1px 1px 3px var(--sh);
    background-color: var(--ipb);
}


#dropdowns { /* container for dropdown menus */
    display: flex;
    border: none;
    padding: 10px;
    padding-bottom: 0;
    margin: auto;
}
.ipdown, .opdown { /* dropdown containers */
    display: flex;
    width: 50%;
}
.ipdown {
    padding-left: 5px;
}
.opdown {
    padding-right: 5px;
}
#ip, #op { /* both dropdown menus */
    position: relative;
    font-family: Arial;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    color: var(--opf);
    cursor: pointer;
    padding-left: 10px;
    margin: 5px;
    box-shadow: 1px 1px 3px var(--sh);
}
#ip { /* input dropdown */
    background-color: var(--green);
    width: 100%;
}
#op { /* output dropdown */
    background: var(--blue);
    width: 100%;
}
select option {
    background-color: var(--dpb);
    color: var(--tc);
    font-size: 12px;
}


#ip:focus, #op:focus {
    box-shadow: 2px 2px 5px var(--sh);
    outline: none;
}
#ip:hover, #ip:active {
    background-color: var(--greencontr);
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px var(--sh);
}
#op:hover, #op:active {
    background-color: var(--bluecontr);
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px var(--sh);
}
#swap {
    position: relative;
    background: none;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    font-family: Arial;
    font-size: 18px;
    color: var(--gh);
    cursor: pointer;
}
#swap:hover {
    transition-duration: 0.3s;
}
#swap:focus {
    outline: none;
}
#swap:active {
    rotate: 180deg;
}
#opcopy {
    float: right;
}
#ipspeech, #opspeech, #opcopy, #clearinput { 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--bt);
    font-size: 17px;
    margin-top: 5px;
}
#ipspeech, #clearinput {
    color: var(--ips);
    padding-left: 10px;
}
#ipspeech:hover, #opspeech:hover, #opcopy:hover, #clearinput:hover {
    color: var(--green);
    transition-duration: 0.1s;
}
#ipspeech:hover {
    color: var(--green);
}
#ipspeech:active, #opspeech:active, #opcopy:active, #clearinput:active {
    transform: scale(0.99);
    color: var(--greencontr);
    transition-duration: 0.1s;
}
#counter {
    font-family: Arial;
    font-weight: bold;
    color: rgb(157, 157, 157);
    font-size: 15px;
    margin-left: 10px;
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}
.copyset {
    position: relative;
}
#copy-message {
    display: none;
    position: absolute;
    font-size: 14px;
    font-family: arial;
    top: -25px;
    right: 0;
    background: var(--greencontr);
    color: var(--obf);
    padding: 5px 10px;
    border-radius: 5px;
}


#translate-container {
    display: flex;
    justify-content: center;
}
#translate {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
    border: none;
    margin: 0px 20px 15px 20px;
    padding: 5px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--red);
    cursor: pointer;
    box-shadow: 1px 1px 3px var(--sh);
}
#translate:hover {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 7px var(--sh);
}
#translate:active {
    box-shadow: 1px 1px 3px var(--sh);
    background-color: var(--redcontr);
    transition-duration: 0.1s;
}