:root {
    --bg: white; /* background color */
    --conc: rgb(239, 237, 227); /* contrast color */
    --gh: rgb(77, 77, 77); /* github icon color */
    --ghh: rgb(56, 56, 56); /* github icon hover color */
    --gha: rgb(70, 70, 70); /* github icon active color */
    --ab: rgb(239, 237, 227); /* about button color */
    --abh: rgb(228, 226, 218); /* about button hover color */
    --aba: rgb(221, 219, 211); /* about button active color */
    --abc: rgba(225, 221, 205, 0.7); /* about content box color */
    --sh: rgb(186, 186, 186); /* dropdown box shadows */
    --bxb: rgb(157, 157, 157); /* border between boxes */
    --bxs: grey; /* display box shadow */
    --db: #dadada; /* display border */
    --opb: rgb(239, 237, 227); /* output box background */
    --oph: rgb(228, 226, 218); /* output box hover color */
    --opf: black; /* output box font color */
    --op: black;
    --opd: rgb(255, 255, 240); /* output box display color */
    --bt: rgb(67, 67, 67); /* button color */
    --ips: rgb(56, 56, 56); /* input speech button color */
    --ish: rgb(0, 0, 0); /* input speech button hover color */
    --bth: black; /* button + github hover color */
    --bta: rgb(56, 56, 56); /* button active color */ 
    --cm: rgb(224, 221, 202); /* copy message background */ 
    --tc: black; /* text color */
    --dpb: rgb(255, 255, 255); /* dropdown background */
}

:root.dark-theme {
    --bg: rgb(40,40,40);
    --conc: rgb(247, 216, 155);
    --gh: white;
    --ghh: rgb(247, 216, 155);
    --gha: rgb(247, 216, 155);
    --ab: rgb(247, 216, 155);
    --abh: rgb(253, 211, 129);
    --aba: rgb(247, 216, 155);
    --abc: rgba(75, 75, 75, 0.8);
    --sh: rgb(118, 118, 118);
    --bxb: rgb(90, 90, 90);
    --bxs: rgb(91, 91, 91);
    --db: rgb(70, 70, 70);
    --opf: rgb(0, 0, 0);
    --op: white;
    --opb: rgb(57, 57, 57);
    --oph: rgb(82, 82, 82);
    --opd: rgb(247, 216, 155);
    --bt: rgb(230, 230, 230);
    --ips: rgb(82, 82, 82); /* input speech button color */
    --ish: rgb(253, 211, 129); /* input speech button hover color */
    --bth: rgb(247, 216, 155);
    --bta: rgb(245, 201, 114);
    --cm: rgb(74, 73, 73);
    --tc: rgb(230, 230, 230);
    --dpb: rgb(80, 80, 80); /* dropdown background */
}

body {
    background-color: var(--bg);
    color: var(--tc);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.theme {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 2.5%;
    margin-bottom: 20px
}

#theme-select, #lang-select { /* theme and language dropdown */
    border: black;
    color: var(--opf);
    display: block;
    width: 100%;
    border-radius: 3px;
    font-size: clamp(12px, calc(1vw + 1vh), 16px);
    padding: 5px;
    background-color: var(--conc);
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px var(--sh)
}
#theme-select:focus, #lang-select:focus {
    outline: none;
    box-shadow: 1px 1px 3px var(--sh);
    background-color: var(--abh);
}
#theme-select:hover, #lang-select:hover, #theme-select:active, #lang-select:active {
    transition-duration: 0.3s;
    background-color: var(--abh);
    box-shadow: 1px 1px 3px var(--sh);
}

#navopen {
    float: left;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    font-size: clamp(18px, calc(1vw + 1vh), 22px);
    margin-left: 2.5%;
    margin-top: 20px;
    cursor: pointer;
    color: var(--bt);
}
#navopen:hover  {
    color: var(--bth);
}

#sidenav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--opb);
    padding-top: 60px;
    box-shadow: 2px 0 5px var(--sh);
    overflow-x: hidden;
    transition: 0.5s;  
    max-width: 650px; 
}

#closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    color: var(--bt);
}

#sidenav a, #history {
    display: block;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    font-size: clamp(14px, calc(1vw + 1vh), 18px);
    color: var(--tc);
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}
#newabout{
    cursor: pointer;
}
#newabout:hover, #closebtn:hover {
    color: var(--bth);
    transition-duration: 0.3s;
}

#about-icon {
    font-size: clamp(12px, calc(1vw + 1vh), 16px);
}

#newaboutmessage {
    display: none;
    font-family: Arial;
    font-size: clamp(12px, calc(1vw + 1vh), 16px);
    margin: 0px 20px;
    color: var(--tc);
    padding-bottom: 10px;
    background-color: var(--abc);
    padding: 10px;
}

#historylist {
    color: var(--tc);
    font-size: clamp(12px, calc(1vw + 1vh), 16px);
    font-family: arial;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 20px;
}

#historylist::-webkit-scrollbar { /* for unsupported browsers */
    width: 5px;
    height: 5px;
}
#historylist::-webkit-scrollbar-track {
    background: transparent;
}
#historylist::-webkit-scrollbar-thumb {
    background-color: var(--sh);
    border-radius: 10px;
    cursor: pointer;
}

li {
    margin-bottom: 5px;
    background-color: var(--abc);
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
}
li:hover {
    color: var(--bth);
    transition-duration: 0.3s;
}

ul {
    padding-left: 0px; /* remove dafault padding on ul items*/
}

#clearhistory {
    background: none;
    border-radius: 30px;
    border: 1px solid var(--bt);
    color: var(--bt);
    font-size: clamp(10px, calc(1vw + 1vh), 14px);
    cursor: pointer;
    margin-top: 10px;
    margin-left: 32px;
}
#clearhistory:hover {
    color: var(--bth);
    border: 1px solid var(--bth);
    transition-duration: 0.3s;
}

p {
    overflow-wrap: break-word;
}

.titlehead {
    display: flex;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: none;
    border: 1px solid var(--db);
    height: 50px;
    width: 95%;
}

.tlinks {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 20px;
}

#githublink {
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    margin-left: auto;
    font-size: 26px;
    color:var(--gh);
    background: none;
}
#githublink:focus {
    outline: none;
}
#githublink:hover {
    transition-duration: 0.3s;
    color: var(--ghh);
}
#githublink:active {
    color: var(--ghh);
    transition-duration: 0.1s;
}

.display { /* total display box including translate button*/
    box-shadow: 3px 3px 5px var(--bxs);
    background-color: var(--opb);
    border: 1px solid var(--opb);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 30px;
}

.textboxes {  /* surrounds both boxes */
    display: flex;
    justify-content: center;
}

#input, #output { /* individual boxes */
    width: 50%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    margin: 15px 20px;
    background-color: white;
    border-radius: 30px;
}

#output {
    background: none;
}

::placeholder, #textoutput{ /* placeholder text and output text */
    font-weight: bold;
}

#userinput, #textoutput { /* text areas */
    align-items: center;
    outline: none;
    font-family: Arial;
    text-align: left;
    font-size: clamp(16px, calc(1vh + 1vw), 20px);
    margin: auto;
    padding: 10px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    height: 35vh;
    width: 100%;
    resize: none;
    border: none;
    background: none;
    max-height: 400px;
}

#textoutput {
    cursor: default;
    color: var(--op);
}

#dropdowns { /* container for dropdown menus */
    display: flex;
    border: none;
    padding: 10px;
    padding-bottom: 0;
    margin: auto;
}

.ipdown, .opdown { /* dropdown containers */
    display: flex;
    width: 50%;
}

.ipdown {
    padding-left: 5px;
}

.opdown {
    padding-right: 5px;
}

#ip, #op { /* both dropdown menus */
    position: relative;
    font-family: Arial;
    border: none;
    border-radius: 30px;
    font-size: clamp(14px, calc(1vw + 1vh), 18px);
    color: var(--opf);
    cursor: pointer;
    padding-left: 10px;
    margin: 5px;
    box-shadow: 1px 1px 3px var(--sh);
}

#ip { /* input dropdown */
    background-color: white;
    width: 100%;
}

#op { /* output dropdown */
    background: var(--opd);
    width: 100%;
}

select option {
    background-color: var(--dpb);
    color: var(--tc);
}

#ip:focus, #op:focus {
    box-shadow: 2px 2px 5px var(--sh);
    outline: none;
}
#ip:hover, #ip:active {
    background-color: var(--abh);
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px var(--sh);
}
#op:hover, #op:active {
    background-color: var(--abh);
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px var(--sh);
}

#swap {
    position: relative;
    background: none;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    font-family: Arial;
    font-size: clamp(14px, calc(1vw + 1vh), 18px);
    color: var(--bt);
    cursor: pointer;
}
#swap:hover {
    color: var(--bth);
    transition-duration: 0.3s;
}
#swap:focus {
    outline: none;
}
#swap:active {
    color: var(--ghh);
    rotate: 180deg;
}

#opcopy {
    float: right;
}

#ipspeech, #opspeech, #opcopy { 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--bt);
    font-size: clamp(14px, calc(1vw + 1vh), 18px);
    margin-top: 5px;
}

#ipspeech {
    color: var(--ips);
    padding-left: 10px;
}

#ipspeech:focus, #opspeech:focus, #opcopy:focus {
    outline: none;
    color: var(--bth);
}
#ipspeech:hover, #opspeech:hover, #opcopy:hover {
    color: var(--bth);
    transition-duration: 0.1s;
}
#ipspeech:hover {
    color: var(--ish);
}
#ipspeech:active, #opspeech:active, #opcopy:active {
    transform: scale(0.99);
    color: var(--bta);
    transition-duration: 0.1s;
}

#counter {
    font-family: Arial;
    font-weight: bold;
    color: rgb(157, 157, 157);
    font-size: clamp(12px, calc(0.6vw + 0.6vh), 20px);
    margin-left: 10px;
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}

.copyset {
    position: relative;
}

#copy-message {
    display: none;
    position: absolute;
    font-size: clamp(14px, calc(1.5vw + 1.5vh), 2vh);
    font-family: arial;
    top: -25px;
    right: 0;
    background: var(--cm);
    color: var(--obf);
    padding: 5px 10px;
    border-radius: 5px;
}

#translate-container {
    display: flex;
    justify-content: center;
}

#translate {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
    border: none;
    margin: 0px 20px 15px 20px;
    padding: 5px;
    font-family: Arial;
    font-size: clamp(14px, calc(1vw + 1vh), 18px);
    font-weight: bold;
    background-color: var(--opd);
    cursor: pointer;
    box-shadow: 1px 1px 3px var(--sh);
}
#translate:hover {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 7px var(--sh);
}
#translate:active {
    box-shadow: 1px 1px 3px var(--sh);
    background-color: var(--abh);
    transition-duration: 0.1s;
}