.Box {
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

#title {
    width: 100%;
}

#input {
    width: 300px;
    height: 300px;
    margin: 10px;
}

#output {    
    width: 300px;
    height: 300px;
    margin: 10px;
}

.textboxes {
    display: flex;
    justify-content: center;
    margin: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

p {
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin: 15px;
}

.dropdown {
    float: right;
    padding: 5px;
}

select {
    font-family: Arial;
    font-size: 16px;
}