body {
    background-color: white;
}

.titlehead {
    display: flex;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    height: 40px;
    width: 100%;
}

.tlinks {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 20px;
}

#githublink {
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 5px;
    background-color: rgb(77, 77, 77, 0);
    cursor: pointer;
    margin-left: auto;
    font-size: 26px;
    color:rgb(77, 77, 77);
}

#githublink:hover {
    transition-duration: 0.3s;
    color: black;
}

#githublink:active {
    color: rgb(70, 70, 70);
    transition-duration: 0.1s;
}

#aboutbtn {
    margin-left: auto;
    padding: 5px;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 100%;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
}

#aboutbtn:hover {
    transition-duration: 0.3s;
    background-color: rgb(170, 170, 170);
}

#aboutbtn:active {
    background-color: rgb(150, 150, 150);
    transition-duration: 0.1s;
}

#aboutcontent {
    z-index: 1;
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30%;
    text-align: left;
    background-color: rgb(224, 224, 224, 0.7);
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;
    margin: 15px;
    padding: 10px;
}

#aboutcontent.show {
    display: block;
}

.theme {
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#theme-select {
    border-radius: 5px;
    border: none;
    font-size: 10px;
    padding: 5px;
    background-color:rgb(236, 236, 236);
    cursor: pointer;
}

#theme-select:hover {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px rgb(186, 186, 186);
}

#input, #output { /* individual boxes */
    width: 50%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
}

#input {
    border-right: 1px solid rgb(157, 157, 157);
    background-color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#output {
    border-left: 1px solid rgb(157, 157, 157);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#textoutput, #output {
    background-color: rgb(245, 245, 245);
}

::placeholder, #textoutput{ /* placeholder text and output text */
    font-weight: bold;
}

.textboxes {  /* surrounds both boxes */
    display: flex;
    justify-content: center;
    margin: auto;
    height: 250px;
}

.display { /* total display box including translate button*/
    box-shadow: 3px 3px 5px grey;
    border: 1px solid #dadada;
    justify-content: center;
    margin: 50px auto;
    box-sizing: border-box;
    width: 80%;
    border-radius: 12px;
}

#userinput, #textoutput { /* text areas */
    align-items:center;
    border: none;
    outline: none;
    font-family: Arial;
    text-align: left;
    font-size: 20px;
    margin: auto;
    overflow-wrap: break-word;
    box-sizing: border-box;
    height: 75%;
    width: 100%;
    resize: none;
}

#ip { /* input dropdown */
    background-color: rgb(235, 235, 235);
}

#op { /* output dropdown */
    background-color: white;
}


#ip, #op { /* both dropdown menus */
    float: right;
    padding: 5px;
    overflow: auto;
    position: relative;
    font-family: Arial;
    border: none;
    font-size: 12px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

#ip:hover, #ip:active, #op:hover, #op:active {
    transition-duration: 0.3s;
    box-shadow: 1px 1px 3px rgb(186, 186, 186);
}

option {
    background-color: white;
}

#opcopy, #swap {
    float: right;
}

#ipspeech, #opspeech, #opcopy, #swap { 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(67, 67, 67);
}

#ipspeech:hover, #opspeech:hover, #opcopy:hover, #swap:hover {
    color: black;
    transition-duration: 0.1s;
    font-size: 15px;
}

#ipspeech:active, #opspeech:active, #opcopy:active, #swap:active {
    transform: scale(0.99);
    color: rgb(56, 56, 56);
    transition-duration: 0.1s;
}

.copyset {
    position: relative;
}

#copy-message {
    display: none;
    position: absolute;
    font-family: arial;
    top: -25px;
    right: 0;
    background: rgba(200, 200, 200, 0.5);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}